
body {
	padding: 20px;
}

form, field {
	display: grid;
	justify-content: start;
}

form {
	gap: 20px;
}

field.text input {
	font: inherit;
	padding: .5em 1em;
	margin-top: 10px;
}

output {
	display: block;
	padding: 20px;
	background-color: black;
	color: orange;
	font-family: sans-serif;
	margin-top: 30px;
	max-width: 50%;
}

output:empty {
	display: none;
}