
mast-head {
	display: block;
	padding: 10px;
}

mast-head .logo {
	max-width: 165px;
	fill: var(--white);
}

mast-head a{
	font-size: .75rem;
}

mast-head nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
}

mast-head nav .home {
	padding: 10px;
	
}

mast-head nav a:not(.home) {
	padding: .5em 1em;
}

	
mast-head a.button  {
	display: none;
	background-color: transparent;
	border: 2px solid var(--lime-green);
	border-radius: 5px;
	padding: 10px;
}

@media (min-width: 600px) {
	mast-head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	mast-head a.button  {
	display: block
	}

	mast-head a{
	font-size: 1rem;
}
}
