
graphic-diptych {
	display: block;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 10vh 0;
}

graphic-diptych p {
	margin-top: 10px;
}

graphic-diptych text-content {
	display: block;
	background-color: rgba(94,143,92,.75);
	position: relative;
	top: 50px;
	padding: 10px;
}

@media (min-width:  600px) {
	graphic-diptych {
		flex-direction: row;
		align-items: center;
	}

	graphic-diptych :is(picture, text-content) {
		flex-basis: 50%;
	}

	graphic-diptych text-content {
		left: 30px;	
}
