@import "reset.css";
@import "structure.css";
@import "typography.css";
@import "colors.css";

*{
	box-sizng: border-box;
}

body * {
	border: 1px solid black;
}

footer {
	padding-bottom: 100px;
	background-color: var(--neutral);
}

header {
	background-color: var(--green);
}

.welcome {
	background-color: var(--blue);
}

.call-to-action {
	background-color: var(--pink);
}

body {
	background-color: var(--paper);
}

h1, h2 {
	margin-top: 20px;
}

h1 + p {
	margin-top: 20px;
}

h2 + p {
	margin-top: 20px;
}

p + p {
	margin-top: 10px;
}

p, h1, h2 {
	padding: 10px;
}

picture, img{
	display: block;
	max-width: 100%;
	max-height: auto;
}

project-card, text-box {
	display: block;
}

masthead {
	display: block;
	padding: 10px;
}

masthead .nav {	
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

masthead a {
	padding: 10px;
}

@media (min-width: 600px) {
	masthead {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.welcome inner-column {
		display: flex;
		flex-direction: row-reverse;
		flex-basis: 50%;
		gap: 10px;
	}

	.welcome text-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	footer span {
		display: flex; 
		flex-direction: row;
	}

	footer ul {
		display: flex;
		flex-direction: column;

	}
	
}

