@import 'meyer-reset.css';

*{
	box-sizng: border-box;
	font: unset;
	margin: 0;
}

.inner-column{
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
 	padding: 20px;
 
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

img{
	display: block;
	max-width: 100%;
	max-height: auto;
}

html {
	background-color: #faf1e2;
}


.loud-voice {
	font-size: 40px;
	font-family: sans-serif;
}

.calm-voice {
	margin-top: 20px;
	font-size: 16px;
	line-height: 1.4;

}

.attention-voice {
	font-family: sans-serif;
	font-size: 30px;

}

main {
	background-image: url('desktop.png');
	background-size: cover;
	background-position: center top;
	flex-grow: 1; /*True*/
}

.about {
	background-color: dodgerblue;
}


.page-header {
	background-color: transparent
}

.page-header img {
	height: auto;
	width: 75%;
}

.site-header {
	background-color: dodgerblue;
	box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .4);
	border: 3px solid;
	
}

.site-header img {
	height: 30px;
	width: 30px;
	border: 3px solid;
	float: left;
}

header p {
	max-width: 68ch;
}

footer {
	background-color: #333;
	color: white;
}

.contact {
	background-color: transparent;
	color: white;
}

@media screen and (min-width:1000px) {
	.page-header {
		color: green;
		text-shadow: 1px 1px 0px black;
		
	}
}


