@import "meyer-reset.css";
@import "structure.css";
@import "typography.css";
@import "colors.css";

* {
	box-sizing: border-box;
}

body * {
	border: 1px solid red;
}

footer {
	padding-bottom: 100px;
}

header, footer {
	background-color: var(--neutral);
}

body {
	color: var(--ink);
	background-color: var(--paper);
}

.dumbest-projects {
	background-color: var(--color);
	color: white;
}