*{
  box-sizng: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

picture{
  display: block;
}



projects-grid{
  border: 5px solid blue;
  display: flex;
}

.project-list{
  border: 5px solid green;
}


